<div class="product-detail">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p><strong>{{ product.price }} грн</strong></p>
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-detail-image">
    {% endif %}
    <div class="feedback-form-modal-container">
        {% include 'includes/feedback_form.html' with form=feedback_form product=product %}
    </div>
    <button class="cta-button">Замовити</button>
    <button class="modal-close button">Закрити</button>
</div>