{% extends 'base.html' %}

{% block title %}Головна - {{ block.super }}{% endblock %}

{% block content %}

<div class="main-title-container">
    <h1 class="main-page-title">Air in UA</h1>
</div>

<section class="hero-section">
    <div class="hero-option hero-option--catalog" data-url="{% url 'airinua:catalog' %}">
        <h2>Купити кондиціонер</h2>
    </div>
    <div class="hero-option hero-option--services" data-url="{% url 'airinua:services' %}">
        <h2>Замовити послугу</h2>
    </div>
</section>

{% endblock %}